*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(77, 173, 157);
    color: brown;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;;
}

.chatbox{
    align-items: center;
    justify-content: center;
    text-align: center;
}